* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

@font-face {
  font-family: 'Avnier-regular';
  src: url('../font/avenir-next-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/avenir-next-regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Avnier-light';
  src: url('../font/avenir-next-thin.woff') format('woff'), /* Super Modern Browsers */
       url('../font/avenir-next-thin.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family: 'Avnier-regular';
    position: absolute;
    min-height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    background: #ffcb38;
}

.page
{
    display: none;
}

.header h2
{
    text-align: center;
    margin: 0px;
    color: #fff;
}

.header
{
    padding: 20px;
}

.container
{    
    position: absolute;
    left: 50%;
    margin-top:20px; 
}

.rslider
{
    position: relative;
    left: -50%;
}

.rs-control .rs-range-color {
    background-color: #2b6c6a;
}
.rs-control .rs-path-color {
    background-color: #c3d99b;
}
.rs-control .rs-handle {
    background-color: #555555;
}
.rs-control .rs-bg-color {
    background-color: white;
}

.rs-seperator { border: 1px solid #2b6c6a; }
.rs-border { border: 1px solid #2b6c6a; }

#plant-container
{
    width: 260px;
    height: 260px;
    position: absolute;
    top: 0;
    left: -50%;
    border-radius: 50%;
    background: #FDF9C4;
    margin: 10px;
    z-index: 6;
}

.time
{
    font-family : "Avnier-light";
    margin-top: 315px;
    font-size: 24px;
    text-align: center;
}

.btn
{
    /* Rectangle: */
    background: #FFF6B6;
    width: 180px;
    margin: auto;
    padding: 18px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    border-radius: 10px;
    text-align: center;
}

.quit
{
    background: #ff693a;
    color: white;
    display: none;
}

